<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quitOnScriptExit</key>
	<false/>
	<key>debugEnabled</key>
	<true/>
	<key>scriptName</key>
	<string>Sample scriptName</string>
	<key>windowTitle</key>
	<string>Sample windowTitle</string>
	<key>scriptDescription</key>
	<string>Sample scriptDescription</string>
	<key>scriptSudo</key>
	<true/>
	<key>installPhaseTxt</key>
	<string>/private/tmp/com.318.StatusMessage.phase</string>
	<key>installProgressFile</key>
	<string>/private/tmp/com.318.StatusMessage.installprogress</string>
	<key>installProgressTxt</key>
	<string>/private/tmp/com.318.StatusMessage.progress</string>
	<key>emailAddress</key>
	<string>zsmith@318.com</string>
	<key>scriptArguments</key>
	<array>
		<string>-d</string>
		<string>/</string>
	</array>
	<key>scriptPath</key>
	<string>script</string>
	<key>scriptExtention</key>
	<string>sh</string>
	<key>scriptIsInBundle</key>
	<true/>
</dict>
</plist>
